# dependencies
node_modules
.pnp
.pnp.js

# env and secrets
.env
.env.local
.env.ci
.env.example
.env.*.local

# builds
dist
.next
out
build
coverage
*.tsbuildinfo
e2e-dist

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# os / ide
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json
*.swp

# test / tooling
playwright-report
test-results
.turbo

# misc
*.pem
.vercel
